<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="nl.elstarit.snoug.servlet.webapp.jee">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="nl.elstarit.snoug.servlet.shared.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/nl.elstarit.snoug.servlet.shared/nl.elstarit.snoug.servlet.shared">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/nl.elstarit.snoug.servlet.webapp.jee/build/classes"/>
        <property name="context-root" value="servlet"/>
    </wb-module>
</project-modules>
